<html>
<head>
    <title></title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>
    <div>
        ID = @ViewBag.Order.ID
    </div>
    <div>
        CUSTOMER_USER_ID = @ViewBag.Order.CUSTOMER_USER_ID
    </div>
    <div>
        AMOUNT_PAID = @ViewBag.Order.AMOUNT_PAID
    </div>
    <div>
        DATE_CREATED = @ViewBag.Order.DATE_CREATED
    </div>
    <div>
        PAYMENT_METHOD = @ViewBag.Order.PAYMENT_METHOD
    </div>
</body>
</html>
