@model CoreWebApplication.Models.Order
<html>
<head>
    <title></title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>
    <div>
        ID = @Model.ID
    </div>
    <div>
        CUSTOMER_USER_ID = @Model.CUSTOMER_USER_ID
    </div>
    <div>
        AMOUNT_PAID = @Model.AMOUNT_PAID
    </div>
    <div>
        DATE_CREATED = @Model.DATE_CREATED
    </div>
    <div>
        PAYMENT_METHOD = @Model.PAYMENT_METHOD
    </div>
</body>
</html>
