@model CoreWebApplication.ViewModels.HomeDetailsViewModel
<html>
<head>
    <title></title>
</head>
<body>
    <h3>@Model.PageTitle</h3>
    <div>
        ID = @Model.Order.ID
    </div>
    <div>
        CUSTOMER_USER_ID = @Model.Order.CUSTOMER_USER_ID
    </div>
    <div>
        AMOUNT_PAID = @Model.Order.AMOUNT_PAID
    </div>
    <div>
        DATE_CREATED = @Model.Order.DATE_CREATED
    </div>
    <div>
        PAYMENT_METHOD = @Model.Order.PAYMENT_METHOD
    </div>
</body>
</html>
