@model IEnumerable<User>

@{
     Layout = "_Layout";  
    ViewBag.Title = "Index";
}

<div class="card-deck container">
    <a href="/home/create" class="btn btn-success">Create a new User</a>
    @foreach (var user in Model)
    {
        <div class="row container">
            <div class="col-sm-4">
                <div class="card-header">
                    <h3>@user.FIRST_NAME @user.LAST_NAME</h3>
                </div>
                <img class="card-img-top" src="/img/banner2.jpg" />
                <div class="card-footer text-left">
                    <div>ID : @user.ID</div>
                    <div>Email : @user.EMAIL</div>
                    <div>First Name : @user.FIRST_NAME</div>
                    <div>Last Name : @user.LAST_NAME</div>
                    <a href="/home/details/@user.ID" class="btn btn-success">View</a>
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>